<div class="text-center">
<h1 class="text-center">Welcome</h1>

<h1>Web Doctors - Web MD!</h1>
<img src="https://thedoctorweighsin.com/wp-content/uploads/2015/07/happy-doctors.png">
<h2>Wow! You're Sick!  It's probably cancer!</h2>
<p>Come Test the knowledge of our experts! We are Never wrote</p>
<p>Our panel of experts will give you a specific amount of</p>
<h3 class="text-danger">OMG Do you want to Know??</h3>
</div>

